body {
    background-image:url(https://i.pinimg.com/236x/9f/86/a4/9f86a408e78a715bd6b9ede39e29efbd.jpg);
    background-position: center;  
    height: 100%;
    background-size: cover;
    border-style: groove;
    padding: 8px;
    
}

header {
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    text-emphasis: bold;
    text-align: center;
    text-decoration-line: underline;
}

article {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    text-align: center;
    margin-top: 25px;
}
h1, h2, h3, h4 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 12pt;
    text-align: center;
    text-emphasis: bold;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

img {
    width: 50%;
    height: 50%; 
    border-radius: 360%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-style: ridge;
    border-color:lightblue;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 @media only screen and (min-width: 400px) {
    body {
        background-image:url(https://static.vecteezy.com/system/resources/previews/000/236/205/large_2x/abstract-colorful-hand-draw-watercolor-background-vector.jpg);
        background-repeat: no-repeat;
    }
    #food {
        float: right;
        margin-right: 30%;
    }
}
form div {
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
}

#aboutMeGame {
    width: fit-content; 
    border: 5px dashed rosybrown; 
    margin: 0 auto; 
    margin-top: 20px;
}

.correct {
    background-color: green;
  }

.incorrect {
    background-color: red;
  }